<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" id="loader">
  <div class="animate-spin">
    <img src="/assets/faviconWebWinStar.svg" alt="Loading..." class="w-16 h-16" />
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const loader = document.getElementById('loader');
    if (loader) {
      // Ocultar el loader cuando la página esté completamente cargada
      window.addEventListener('load', () => {
        loader.style.display = 'none';
      });
    }
  });
</script> 